$background-color-main: #2d2d2d
$background-color-accessory: #474747
$font-color-main: #ffffff
$font-color-accessory: #d9d9d9
$track-card-spotify-logo-size: 30px
$spotify-color: #1db954
$padding-page-default: 10px