$background-color-main: #181818
//  #2d2d2d - было #191414
$background-color-dark: #0c0c0c
$background-color-accessory: #373737
// #474747 - было
$font-color-main: #ffffff
$font-color-accessory: #d9d9d9
$font-color-accessory-dark: #a9a9a9
$track-card-spotify-logo-size: 26px
$spotify-color: #1db954
$spotify-color-light: #23d460
$spotify-color-blue: #2d76d2
$spotify-color-blue-light: #4680cb
$padding-page-default: 10px
$track-card-height: 80px
$content-width: 1200px
$nav-panel-height: 80px